{% extends "layout.html" %}
{% block content %}
<div class='row'><h1 id='service_status'>Service is running.</h1><button class='btn btn-default' id='refresh-btn'>Refresh</button></div>
<div class='row'>
  <table id="table"></table>
</div>
<div class='row'>
  <button class='btn btn-default' id='start-btn'>Start</button>
  <button class='btn btn-default' id='stop-btn'>Stop</button>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src='/static/js/leaderboard.js'></script>
{% endblock %}
